<!DOCTYPE html>
<!--[if IE 9]> <html lang="it" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="it">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>JANGO222 | Ultimate Multipurpose Bootstrap HTML Theme - Default Home</title>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
</body>

</html>