<!DOCTYPE html>
<!--[if IE 9]> <html lang="it" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="it">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>JANGO222 | Ultimate Multipurpose Bootstrap HTML Theme - Default Home</title>
    <link rel="stylesheet" href="/styles/normalize.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/scripts/modernizr-3.5.0.min.js"></script>
    <script type="text/javascript" src="/scripts/plugins.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">Email
</header>
<input type="hidden" name="product" id="product" value="{{product_hash}}">
<input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">
<label for="name">Name</label><input type="text" name="name" id="name">
<label for="surname">Surname</label><input type="text" name="surname" id="surname">
<label for="email">Email</label><input type="email" name="email" id="email">
<label for="phone">Phone</label><input type="text" name="phone" id="phone">
<label for="company">Company</label><input type="text" name="company" id="company">
<label for="message">Message</label><textarea name="message" id="message"></textarea>
<button id="send_lead">Send</button>

</body>

</html>